<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Epileptic Clinic</title>
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".account-icon").click(function () {
                $(".account-dropdown").toggle();
            });

            $(document).click(function (event) {
                if (!$(event.target).closest(".account-icon, .account-dropdown").length) {
                    $(".account-dropdown").hide();
                }
            });
        });
    </script>
</head>
<body>
    <header class="layout">
        <nav>
            <ul>
                <li><a class="a-layout" href="@Url.Action("Index", "Doctors")">Доктор</a></li>
                <li><a class="a-layout" href="@Url.Action("Index", "Analyzes")">Анализ</a></li>
                <li><a class="a-layout" href="@Url.Action("Index", "Visits")">Посищен</a></li>
                <li><a class="a-layout" href="@Url.Action("Index", "Patients")">Пациенты/а</li>
                <li class="account-menu">
                    <a href="javascript:void(0);" class="account-icon">
                        <img src="~/account.png" alt="Account Icon" />
                    </a>
                    <div class="account-dropdown">
                        <a href="@Url.Action("Register", "Account")">Зарегистрироваться</a>
                        <a href="@Url.Action("Login", "Account")">Войти</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>