<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Epileptic Clinic</title>
    <link rel="stylesheet" type="text/css" href="~/css/Layout.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".account-icon").click(function () {
                $(".account-dropdown").toggle();
            });

            $(document).click(function (event) {
                if (!$(event.target).closest(".account-icon, .account-dropdown").length) {
                    $(".account-dropdown").hide();
                }
            });
        });
    </script>
</head>
<body>
    <header class="layout">
        <nav>
            <ul>
                <li><a class="a-layout" href="@Url.Action("Index", "Doctors")">Доктор</a></li>
                <li><a class="a-layout" href="@Url.Action("Index", "Analyzes")">Анализ</a></li>
                <li><a class="a-layout" href="@Url.Action("Index", "Visits")">Посещения</a></li>
                <li><a class="a-layout" href="@Url.Action("Index", "Patients")">Пациенты</a></li>
                <li><a class="a-layout" href="@Url.Action("Index", "Graph")">График давления</a></li>
                <li class="account-menu">
                    <a href="javascript:void(0);" class="account-icon">
                        <img src="~/account.png" alt="Account Icon" />
                    </a>
                    <div class="account-dropdown">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p>@User.Identity.Name</p>

                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <input type="submit" value="Выход" />
                            </form>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login">Вход</a>
                            <a asp-controller="Account" asp-action="Register">Регистрация</a>
                        }
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>