@model IEnumerable<MISCORE2019.Models.Visit>

@{ ViewData["Title"] = "Index"; }

<head>
    <link type="text/css" href="~/css/VisitsIndex.css" rel="stylesheet" />
</head>

<div class="div-create">
    <button class="create">
        <a class="a-create" asp-action="Create">Добавить посещение</a>
    </button>
</div>

<div class="div-table">
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Врач</th>
                <th>Удаление</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.time.Day).@Html.DisplayFor(modelItem => item.time.Month).@Html.DisplayFor(modelItem => item.time.Year)</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.time.Hour):@Html.DisplayFor(modelItem => item.time.Minute)</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">@string.Join(", ", item.doctors.Select(d => d.FIO))</a>
                    </td>
                    <td align="center">
                        <a asp-action="Delete" asp-route-id="@item.ID"><img src="~/delete.svg" alt="delete" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
