@model MISCORE2019.Models.Patient

@{ ViewData["Title"] = "Delete"; }

<head>
    <link type="text/css" href="~/css/PatientsDelete.css" rel="stylesheet" />
</head>

<div class="basic-div">
    <div class="delete-div">
        <form asp-action="Delete">
            <div class="info-div">
                <div class="id-div">
                    @Html.DisplayNameFor(model => model.ID): @Html.DisplayFor(model => model.ID)
                </div>
                <div class="fio-div">
                    @Html.DisplayNameFor(model => model.FIO): @Html.DisplayFor(model => model.FIO)
                </div>
                <div class="visits-div">
                    Посещение: @string.Join(", ", Model.visits?.Select(v => v.time.ToString("g")) ?? Enumerable.Empty<string>())
                </div>
                <div class="diagnosis-div">
                    Диагноз: @string.Join(", ", Model.analyzes?.Select(a => $"Вес: {a.weight}, Диагноз: {a.diagnos}") ?? Enumerable.Empty<string>())
                </div>
            </div>
            <div class="div-buttons">
                <button asp-action="Delete">
                    <a>Удалить</a>
                </button>
                <button asp-action="Index">
                    <a>Вернуться</a>
                </button>
            </div>
        </form>
    </div>
</div>