@model MISCORE2019.Models.Patient

@{ ViewData["Title"] = "Details"; }

<head>
    <link type="text/css" href="~/css/PatientsDetails.css" rel="stylesheet" />
</head>

<div class="basic-div">
    <div class="details-div">
        <div class="info-div">
            <div class="id-div">
                @Html.DisplayNameFor(model => model.ID): @Html.DisplayFor(model => model.ID)
            </div>
            <div class="fio-div">
                @Html.DisplayNameFor(model => model.FIO): @Html.DisplayFor(model => model.FIO)
            </div>
            <div class="visits-div">
                Посещение: @string.Join(", ", Model.visits?.Select(v => v.time.ToString("g")) ?? Enumerable.Empty<string>())
            </div>
            <div class="diagnosis-div">
                Диагноз: @string.Join(", ", Model.analyzes?.Select(a => $"Вес: {a.weight}, Диагноз: {a.diagnos}") ?? Enumerable.Empty<string>())
            </div>
        </div>
        <div class="div-buttons">
            <button>
                <a asp-action="Edit" asp-route-id="@Model.ID">Изменить</a>
            </button>
            <button>
                <a asp-action="Index">Вернуться</a>
            </button>
        </div>
    </div>
</div>