@model IEnumerable<MISCORE2019.Models.Patient>

@{ ViewData["Title"] = "Index"; }

<head>
    <link type="text/css" href="~/css/PatientsIndex.css" rel="stylesheet" />
</head>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ID)</th>
            <th>@Html.DisplayNameFor(model => model.FIO)</th>
            <td>@Html.DisplayNameFor(model => model.BurthDate)</td>
            <th>Visits</th>
            <th>Analyzes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.FIO)</td>
            <td>@Html.DisplayFor(modelItem => item.BurthDate)</td>
            <td>@item.visits?.Count</td>
            <td>@item.analyzes?.Count</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>}
    </tbody>
</table>